<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{:: title},~{::script})}">
    <head>
        <title>login Page</title>
    </head>
    <body>
        <div id="content">
            <div class="grid grid-cols-12">
                <div class="col-span-4 md:col-span-2 lg:col-span-4"></div>
                     <div class="col-span-12 md:col-span-8 lg:col-span-4">
                    <!--card-->
                        <div href="#" class="block p-6 border-t-8 border-blue-950 bg-gray-200   rounded-lg shadow-sm hover:bg-gray-300 dark:bg-gray-900 dark:border-blue-800 dark:border-t-[10px] dark:hover:bg-gray-900 mt-3">

                          <!--message box is here-->
                          <div data-th-replace="message::messagebox"></div>
                          
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center">Login Here</h5>
                        <p class="font-normal text-gray-400 dark:text-gray-400">Start storing your contacts on clound...</p>

                        <div class="text-red-600" th:if="${param.error}">Invalid username and password.</div>
                        <div class="text-green-600" th:if="${param.logout}">You have been logged out.</div>

                        <!--Form-->
                    <form
                    method="post"
                    data-th-action="@{'/authenticate'}"
                    class="mt-5">
                          <!--username field-->
                          <div class="mb-3">
                            <label for="Email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                            <input name="email" type="email" id="email"
                             class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="abc@gmail.com" required />
                             <!-- <p data-th-if="${#fields.hasErrors('email')}"
                             data-th-errors="*{email}"
                          class="text-red-600 px-1 py-2 "></p> -->
                            </div>

                            <!--password field-->
                          <div class="mb-3">
                            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                            <input name="password" type="password" id="password"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="password" required />
                            <!-- <p data-th-if="${#fields.hasErrors('password')}"
                                  data-th-errors="*{password}"
                               class="text-red-600 px-1 py-2 "></p> -->
                          </div>

                          <!--buttons-->
                          <div class="mb-3 flex justify-center space-x-4">
                            <button type="submit" class="px-3 py-2 rounded bg-gray-800 hover:bg-gray-900 text-white dark:bg-blue-600 dark:hover:bg-blue-700">Login</button>
                            <button type="reset" class="px-3 py-2 rounded bg-gray-800 hover:bg-gray-900 text-white dark:bg-blue-600 dark:hover:bg-blue-700">Reset </button>
 
                          </div>
                    </form> 
                    <div class="social-buttons-container flex justify-center mt-8">
                       <a class="px-2 py-3 border login-with-google-btn" data-th-href="@{'/oauth2/authorization/google'}">Login with google</a>
                    </div>   
                    </div>
                        
                    </div>

            <!--we can make any other card here if needed-->
                <div class="col-span-4"></div>


            </div>
        </div>
        <script>
            console.log("Login page")
        </script>
        <div class="hidden">
          text-red-600 text-green-600 text-blue-600 bg-red-100 bg-green-100 bg-blue-100 dark:text-red-500 dark:text-green-500 dark:text-blue-500
        </div>        
    </body>
    </html>