<html lang="en" th:replace="~{base :: parent(~{::#content},~{:: title},~{::script})}">
    <head>
        <title>register Page</title>
    </head>
    <body>
        <div id="content">
            <div class="grid grid-cols-12">
                <div class="col-span-4 md:col-span-2 lg:col-span-4"></div>
                     <div class="col-span-12 md:col-span-8 lg:col-span-4">
                    <!--card-->
                        <div href="#" class="block p-6 border-t-8 border-blue-950 bg-gray-200   rounded-lg shadow-sm hover:bg-gray-300 dark:bg-gray-900 dark:border-blue-800 dark:border-t-[10px] dark:hover:bg-gray-900 mt-9">

                          <!--message box is here-->
                          <div data-th-replace="message::messagebox"></div>
                          
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center">Signup Here</h5>
                        <p class="font-normal text-gray-400 dark:text-gray-400">Start storing your contacts on clound...</p>

                        <!--Form-->
                    <form data-th-action="@{'/do-register'}" data-th-object="${userForm}" method="post" class="mt-5">
                        <!--user name field-->
                        <div class="mb-3">
                            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                            <input type="text" id="name" th:field="*{name}"
                             class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Username" required />
                          </div>

                          <!--email field-->
                          <div class="mb-3">
                            <label for="Email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                            <input type="email" id="emal" th:field="*{email}"
                             class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="abc@gmail.com" required />
                          </div>

                          <div class="mb-3">
                            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                            <input type="password" id="password" th:field="*{password}"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="password" required />
                          </div>

                          <div class="mb-3">
                            <label for="Phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone</label>
                            <input type="text" id="phone" th:field="*{phoneNumber}"
                             class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Contact Number" required />
                          </div>
                          <!--about field-->
                          <div class="mb-3">
                            <label for="about" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">About</label>
                            <textarea id="about" rows="4"  th:field="*{about}"
                            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write your thoughts here..."></textarea>
                          </div>

                          <!--buttons-->
                          <div class="mb-3 flex justify-center space-x-4">
                            <button type="submit" class="px-3 py-2 rounded bg-gray-800 hover:bg-gray-900 text-white dark:bg-blue-600 dark:hover:bg-blue-700">Signup</button>
                            <button type="reset" class="px-3 py-2 rounded bg-gray-800 hover:bg-gray-900 text-white dark:bg-blue-600 dark:hover:bg-blue-700">Reset </button>
 
                          </div>
                    </form>    
                    </div>
                        
                    </div>

            <!--we can make any other card here if needed-->
                <div class="col-span-4"></div>


            </div>
        </div>
        <script>
            console.log("Signup page")
        </script>
    </body>
    </html>